
@{
    ViewBag.Title = "homePage";
}
<title>
    Home
</title><html>
<head>
   
</head>
<body>
  <br /><br /><br /><br /><br />
   <center>
       <b><h2 style="font-size:350%;">Welcome :)</h2></b>
   </center>
    <br /><br /><br /><br /><br /><br />
</body>
</html>
